.mobile-container {
  width: 355px;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 120px 400px 99px;
  border: solid 1px black;
}

.mobile-body {

  display: flex;
  flex-direction: column;
}